<div class="right_col" role="main">
    <div class="title_left">
        <h3>Upload Templated Findings</h3>
    </div>

    <div class="x_panel">
      <div class="x_title">

          <div class="clearfix"></div>
      </div>

    <div class="x_content">
  <form enctype="multipart/form-data" method="post" class="form-horizontal form-label-left input_mask">


          <div class="form-group">
              <h2>Upload JSON File - Please be careful. This must have been exported from the UI.</h2>
              <input name="file" type="file">

          </div>

          <div class="form-group">
            <h2>Automatically Approve Imported Findings. By default you should manually approve findings, this overrides that.</h2>
              <input class="flat" name="approved" type="checkbox">


          </div>




    <input type="submit" value="Upload" class="btn btn-success"></input>
    <button value="Cancel" class="btn btn-primary">Cancel</button>
  </form>
</div>

</div>
</div>
</div>
